@tailwind base;
@tailwind components;

@font-face {
  font-family: 'figtree';
  src: url('/fonts/Figtree-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-display: 'swap';
  font-style: 'normal';
}

@tailwind utilities;

@layer base {
  body {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    @apply !font-figtree font-normal;

    @apply bg-vignette-radial transition-all;
  }
}
